In [31]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()
df["job_posted_date"] = pd.to_datetime(df["job_posted_date"])

In [32]:
df_original = df.copy()

In [33]:
df_original.loc[:5, "salary_year_avg"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [35]:
median_salary = df_original["salary_year_avg"].median()
df_original["salary_year_avg"] =  df_original["salary_year_avg"].fillna(median_salary)

In [36]:
df_original.loc[:5, "salary_year_avg"]

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [37]:
df.loc[:5, "salary_year_avg"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [50]:
df.sample(5, replace=True)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
56273,Data Analyst,Programadora Data Analytics,Argentina,via BeBee,Full-time,False,Argentina,2023-08-24 06:52:16,False,False,Argentina,None,NaN,NaN,Emprego,"['java', 'firebase', 'firebase']","{'cloud': ['firebase'], 'databases': ['firebas..."
82300,Senior Data Scientist,Senior Data Scientist,Texas,via Recruit.net,Full-time,False,Sudan,2023-12-31 00:27:24,False,False,Sudan,None,NaN,NaN,Xforia,"['python', 'r', 'pytorch', 'spark']","{'libraries': ['pytorch', 'spark'], 'programmi..."
417161,Senior Data Analyst,Senior Digital Analyst,Dubai - United Arab Emirates,via LinkedIn,Full-time,False,United Arab Emirates,2023-07-25 16:26:53,True,False,United Arab Emirates,None,NaN,NaN,KingMakers,"['firebase', 'firebase', 'power bi']","{'analyst_tools': ['power bi'], 'cloud': ['fir..."
772554,Data Analyst,Bilingual Data Analyst,Anywhere,via LinkedIn,Contractor,True,Canada,2023-03-14 01:28:29,True,False,Canada,None,NaN,NaN,Randstad Canada,"['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
555945,Data Scientist,Lead Data Scientist,Singapore,via LinkedIn,Full-time,False,Singapore,2023-12-19 19:37:17,False,False,Singapore,None,NaN,NaN,ABOITIZ DATA INNOVATION PTE. LTD.,"['r', 'python', 'aws', 'gcp', 'hadoop', 'kafka...","{'cloud': ['aws', 'gcp'], 'libraries': ['hadoo..."